
body{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: peachpuff;
}

nav{
    background-color: bisque;
    padding-left: 20px;
    display: flex;
}
.nav-item{
    border-radius: 20px;
}
.nav-item:hover{
background-color:sandybrown;
}

.nav-active a{
    color: maroon;
    font-weight: bold;
}

div h1{
    padding-left: 10px;
    font-weight: 1000;
    text-align: justify;
    font-family: fantasy;
    color:rgba(36, 9, 9, 0.281)
}

main{
    width: 80%;
    margin: auto;
}
.imag1{
    width: 500px;
    height: 500px;
    padding: 0;
    margin: 10%;
}
.referencias{
    text-decoration: none;
    font-size: 20px;
    font-family: cursive;
}
.referencias:hover{
    background-color: cornsilk;
    border-radius: 10px;
}

 .immeta{
     margin: 50px 350px;   
 }
 .pa{
    text-align: center;
    font-size: x-large;
    color:darkslategray
}
 
.imagenes {
    margin: 0;
    padding-left: 80px;
    border: black;
    width: 40%;
}

.tab1{
    display: inline-table;
    font-size: 100%;
    margin-left: 40%;
    margin: right 30%;
    border:3px double rgba(1, 9, 56, 0.432)   
 }
 .formulario{
    margin:80px;
    padding: 20px;
    border: 5px dotted coral;
 }

footer{
    font-family:sans-serif;
    padding: 10px 5px;
    margin: 20px;
    justify-content: center;
    text-align: center;
    font-size: 0.8em;
}

#mainCarousel {
    width: 600px;
    margin: 0 auto 1rem auto;
    
  
    --carousel-button-color: #170724;
    --carousel-button-bg: #fff;
    --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
      0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  
    --carousel-button-svg-width: 20px;
    --carousel-button-svg-height: 20px;
    --carousel-button-svg-stroke-width: 2.5;
  }
  
  #mainCarousel .carousel__slide {
    width: 100%;
    padding: 0;
  }
  
  #mainCarousel .carousel__button.is-prev {
    left: -1.5rem;
  }
  
  #mainCarousel .carousel__button.is-next {
    right: -1.5rem;
  }
  
  #mainCarousel .carousel__button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #A78BFA;
  }
  
  #thumbCarousel .carousel__slide {
    opacity: 0.5;
    padding: 0;
    margin: 0.25rem;
    width: 96px;
    height: 64px;
  }
  
  #thumbCarousel .carousel__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  #thumbCarousel .carousel__slide.is-nav-selected {
    opacity: 1;
  }
